//! **************************************************************************
// Written by: Map P.28xd on Tue Apr 12 09:47:02 2016
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P20" LEVEL 1;
COMP "f" LOCATE = SITE "P17" LEVEL 1;
COMP "g" LOCATE = SITE "P83" LEVEL 1;
COMP "clk" LOCATE = SITE "P54" LEVEL 1;
COMP "n0" LOCATE = SITE "P34" LEVEL 1;
COMP "n1" LOCATE = SITE "P33" LEVEL 1;
COMP "n2" LOCATE = SITE "P32" LEVEL 1;
COMP "n3" LOCATE = SITE "P26" LEVEL 1;
COMP "a" LOCATE = SITE "P25" LEVEL 1;
COMP "b" LOCATE = SITE "P16" LEVEL 1;
COMP "c" LOCATE = SITE "P23" LEVEL 1;
COMP "d" LOCATE = SITE "P21" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

