//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 12 07:13:26 2016
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P20" LEVEL 1;
COMP "L2" LOCATE = SITE "P29" LEVEL 1;
COMP "f" LOCATE = SITE "P17" LEVEL 1;
COMP "L3" LOCATE = SITE "P24" LEVEL 1;
COMP "g" LOCATE = SITE "P83" LEVEL 1;
COMP "clk" LOCATE = SITE "P54" LEVEL 1;
COMP "ld" LOCATE = SITE "P48" LEVEL 1;
COMP "dir" LOCATE = SITE "P47" LEVEL 1;
COMP "clr" LOCATE = SITE "P69" LEVEL 1;
COMP "tc" LOCATE = SITE "P15" LEVEL 1;
COMP "cnt" LOCATE = SITE "P41" LEVEL 1;
COMP "n0" LOCATE = SITE "P34" LEVEL 1;
COMP "n1" LOCATE = SITE "P33" LEVEL 1;
COMP "n2" LOCATE = SITE "P32" LEVEL 1;
COMP "n3" LOCATE = SITE "P26" LEVEL 1;
COMP "a" LOCATE = SITE "P25" LEVEL 1;
COMP "b" LOCATE = SITE "P16" LEVEL 1;
COMP "c" LOCATE = SITE "P23" LEVEL 1;
COMP "L0" LOCATE = SITE "P38" LEVEL 1;
COMP "d" LOCATE = SITE "P21" LEVEL 1;
COMP "L1" LOCATE = SITE "P36" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

