//! **************************************************************************
// Written by: Map P.28xd on Tue Apr 05 08:33:26 2016
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P12" LEVEL 1;
COMP "L2" LOCATE = SITE "E2" LEVEL 1;
COMP "f" LOCATE = SITE "L13" LEVEL 1;
COMP "L3" LOCATE = SITE "N3" LEVEL 1;
COMP "g" LOCATE = SITE "M12" LEVEL 1;
COMP "ld" LOCATE = SITE "C11" LEVEL 1;
COMP "dir" LOCATE = SITE "M4" LEVEL 1;
COMP "clr" LOCATE = SITE "G12" LEVEL 1;
COMP "tc" LOCATE = SITE "M5" LEVEL 1;
COMP "cnt" LOCATE = SITE "A7" LEVEL 1;
COMP "n0" LOCATE = SITE "F12" LEVEL 1;
COMP "n1" LOCATE = SITE "J12" LEVEL 1;
COMP "n2" LOCATE = SITE "M13" LEVEL 1;
COMP "n3" LOCATE = SITE "K14" LEVEL 1;
COMP "clk0" LOCATE = SITE "B8" LEVEL 1;
PIN clk0_pin<0> = BEL "clk0" PINNAME PAD;
PIN "clk0_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "a" LOCATE = SITE "L14" LEVEL 1;
COMP "b" LOCATE = SITE "H12" LEVEL 1;
COMP "c" LOCATE = SITE "N14" LEVEL 1;
COMP "L0" LOCATE = SITE "G3" LEVEL 1;
COMP "d" LOCATE = SITE "N11" LEVEL 1;
COMP "L1" LOCATE = SITE "F3" LEVEL 1;
NET "clk0_BUFGP/IBUFG" BEL "clk0_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

